<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResQPlan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="main-header">
        <h1>ResQPlan</h1>
    </header>

    <div class="container">
        <div class="panel">
            <h2>Ingresar Restricciones</h2>
            <textarea id="constraint" placeholder="Ejemplo: Ningún bombero puede trabajar más de 40 horas semanales..."></textarea>

            <!-- Contenedor para alinear el botón a la derecha -->
            <div class="button-container">
                <button id="convert-button">Añadir</button>
            </div>

            <div id="constraint-result" class="result-box" style="display:none;"></div>
        </div>

        <div class="panel">
            <h2>Restricciones Añadidas</h2>
            <div class="restricciones-list"></div>

            <!-- Contenedor para alinear el botón a la derecha -->
            <div class="button-container">
                <button id="optimize-button">Optimizar</button>
            </div>
        </div>

    </div>

    <div id="loading-overlay" class="loading-overlay">
        <div class="loading-content">
            <span class="spinner"></span>
            <p>Buscando solución...</p>
        </div>
    </div>

    <div id="resultado-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Resultados generados</h2>
            <div class="modal-body" id="resultado-contenido">

                <div id="optimization-result"></div>
            </div>
            <div class="modal-footer">
                <button class="download-btn" id="download-excel-btn">Descargar Excel</button>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
